<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lids.barscanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo1"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarMain"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".LoginScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AccountCreation"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ConfigurationScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SearchHistoryScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".ZxingCapture"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
        </activity>
    </application>

</manifest>
